---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import ExternalLink from '@components/ExternalLink.astro'
import { Accordion, AccordionItem, Avatar, AvatarGroup } from 'accessible-astro-components'
---

<DefaultLayout title='Home'>
  <Hero />
  <section class='my-64'>
    <div class='container'>
      <h2 class='mb-16 text-6xl'>Services</h2>
      <div class='grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3'>
        <Feature icon='lucide:palette' title='Web Design'>
          From landing page to CMS-driven corporate hub, we design and develop a web presence for your business or product.
        </Feature>
        <Feature icon='lucide:puzzle' title='Product Innovation'>
          Together with our clients, we build innovative products based on extensive user research and technical
          know-how.
        </Feature>
        <Feature icon='lucide:sun' title='Emerging Tech'>
          We explore and implement upcoming technologies such as AI and AR to create innovative solutions.
        </Feature>
      </div>
    </div>
  </section>
  <!-- <ContentMedia imgSrc='/accessible-components.webp'>
    <h2>Accessible components</h2>
    <p class='text-2xl'>
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <ExternalLink href='https://github.com/incluud/accessible-astro-components'
        >separate package</ExternalLink
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc='/wcag-compliant.webp' reverseImg={true}>
    <h2>WCAG 2.2 AA compliant</h2>
    <p class='text-2xl'>
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia> -->
  <section class='my-64'>
    <div class='container grid grid-cols-1 gap-12 md:grid-cols-2'>
      <div class='flex flex-col items-start gap-4'>
        <h2 class='text-6xl'>FAQ</h2>
        <p class='text-2xl'>
          This section demonstrates how to effectively use the Accordion component to organize and display frequently
          asked questions in an accessible and user-friendly way.
        </p>
        <a class='button' href='/faq'>Contact support team</a>
      </div>
      <div class='space-content'>
        <Accordion>
          <AccordionItem name='exclusive' title='How can you help me?' open>
            <p>
              We are a small studio that specializes in web design, product innovation, and emerging technologies. We
              can help you create a website for your business, design and develop an MVP for your startup, or explore
              the possibilities of AI and AR for your upcoming product.
            </p>
          </AccordionItem>
          <AccordionItem name='exclusive' title='What differentiates you from classic dev agencies?'>
            <p>
              We are a small team of experts who are passionate about digital experiences and products. We are not a body shop - we're aiming to join you during the entire process, from ideation to implementation. Our focus lies on innovation and creativity, and we are always looking for new ways to push the boundaries of what is possible. We will actively participate in the development of your product, not just execute your ideas.
            </p>
          </AccordionItem>
          <AccordionItem name='exclusive' title='How does the pricing work?'>
            <p>
              Usually we offer two options: an hourly rate or an equity model. The hourly rate is great for funded
              startups or established companies. The equity model is a great option for early stage startups that are
              looking for a partner to help them build their product. When it comes to equity, we reserve the right to vet the project and the team before we start working together.
            </p>
          </AccordionItem>
          <AccordionItem name='exclusive' title='Do you offer fixed price projects?'>
            <p>
              We do not offer classic statements of work with fixed time, scope and budget, since the scope of the project might change multiple times based on new market insights and due to the uncertain nature of our projects. Nevertheless, we can offer hourly packages with clearly defined goals, such as building a prototype or supporting a market launch.
            </p>
          </AccordionItem>
          <AccordionItem name='exclusive' title='What is the process of working with you?'>
            <p>
              We start with a discovery phase where we learn about your business, your goals, and your target audience. Before designing or building anything, we conduct user research to understand the needs and pain points of your users. Based on this research, we create a product strategy and a rough roadmap for the project. After that, we start designing and building the product, iterating based on feedback from you and your users.
            </p>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
    <section class='my-64'>
      <div class='space-content container'>
        <h2 class='text-6xl'>Contact us</h2>
        <p class='text-2xl'>
          If you are interested in our services or have any questions, please feel free to reach out to us.
        </p>
        <AvatarGroup display='grid' gridItemsSize='300px' gridGap='2rem'>
          <Avatar initials='RJ' title='Christian Rahaus' subtitle='Studio Manager' email='christian@effeqtiv.com' />
          <Avatar
            initials='MT'
            title='Simon Schmalfeld'
            subtitle='Chief Creative Technologist'
            email='simon@effeqtiv.com'
          />
        </AvatarGroup>
      </div>
    </section>
  </section>

  <style>
    .avatar {
      border: 1px solid var(--border-color-subtle);
      border-radius: var(--radius-md);
      padding: var(--space-s);
    }
  </style>
</DefaultLayout>
